.example-card {
  max-width: 200px;
}
.mat-card-title {
  margin-bottom: 40px;
}

img.mat-card-image {
  position:  relative;
}
.mat-card-content{
  margin: 0px;
}
li.fa.fa-edit {
  position:  absolute;
  top: 60px;
  right:  0px;
  color: rgb(240, 17, 17);
  font-size: 30px;
  cursor: pointer;
}

